// Bulma defaults
$body-overflow-x: auto;
$body-overflow-y: auto;
$box-shadow: none;
$input-shadow: none;
$speed: 250ms;

// Import Bulma
@import 'bulma/sass/helpers/_all.sass';
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/elements/_all.sass';

// App variables
$app-border-color: $grey-lighter;
$app-border-radius: $input-radius;
$app-border-radius-circle: 50%;
$app-border-style: solid;
$app-border-width: 2px;
$app-size-1: $size-7;
$app-transition: $speed ease;
$app-success: $success;
$app-warning: $warning;
$app-danger: $danger;

// App theme
$app-button-font-weight: 600;
$app-button-transition: $app-transition;
$app-checkbox-border: $app-border-width $app-border-style $app-border-color;
$app-checkbox-border-radius: $app-border-radius;
$app-checkbox-margin: $app-size-1;
$app-checkbox-size: 20px;
$app-checkbox-transition: $app-transition;
$app-checkbox-checked-background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjEyIDEgNSA3LjUgMiA1IDEgNS41IDUgMTAgMTMgMS41Ii8+PC9zdmc+');
$app-checkbox-checked-background-color: $link;
$app-group-margin: $app-size-1;
$app-input-border-width: $app-border-width;
$app-input-transition: $app-transition;
$app-radio-border-radius: $app-border-radius-circle;
$app-radio-checked-background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGZpbGw9IiNmZmYiIGN4PSI4IiBjeT0iOCIgcj0iMiIvPjwvc3ZnPg==');
$app-row-margin: $app-size-1;
$app-textarea-border-width: $app-border-width;
$app-window-background-success: $app-success;
$app-window-background-warning: $app-warning;
$app-window-background-danger: $app-danger;
$app-window-transition: $app-transition;
$app-window-width: 600px;

.button {
  box-sizing: border-box;
  font-weight: $app-button-font-weight;
  transition: $app-button-transition;
}

.checkbox,
.radio {
  display: flex;
  align-items: center;
}

.checkbox > input,
.radio > input {
  appearance: none;
  background: white no-repeat 50% 50%;
  border: $app-checkbox-border;
  box-sizing: border-box;
  cursor: pointer;
  font: inherit;
  overflow: hidden;
  transition: $app-checkbox-transition;
  vertical-align: middle;
  width: $app-checkbox-size;
  height: $app-checkbox-size;
  margin-right: $app-checkbox-margin;

  &:checked {
    background-color: $app-checkbox-checked-background-color;
    border-color: transparent;
  }

  &:checked,
  &:active,
  &:focus {
    appearance: none;
    outline: transparent none;
  }
}

.checkbox > input {
  border-radius: $app-checkbox-border-radius;

  &:checked {
    background-image: $app-checkbox-checked-background;
  }
}

.radio > input {
  border-radius: $app-radio-border-radius;

  &:checked {
    background-image: $app-radio-checked-background;
  }
}

.input {
  border-width: $app-input-border-width;
  box-sizing: border-box;
  transition: $app-input-transition;
}

.is-grouped {
  display: flex;

  & > *:not(:first-child) {
    margin-left: $app-group-margin;
  }
}

.row {
  display: flex;
  margin-bottom: $app-row-margin;

  & > * {
    width: 50%;
  }
}

.textarea {
  border-width: $app-textarea-border-width;
  min-width: unset;
}

.window {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: $app-window-transition;

  & > * {
    width: $app-window-width;
  }

  &.is-success {
    background: $app-window-background-success;
  }

  &.is-warning {
    background: $app-window-background-warning;
  }

  &.is-danger {
    background: $app-window-background-danger;
  }
}
